@charset "UTF- 8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#conteiner{
    display: grid;
    grid-template: 100px 50px 1fr 50px / 1fr 150px;
    gap: 5px;
    width: 100vw;
    height: 100vh;

}
.caixa{
    padding: 10px;
    text-align: center;
}
#topo{
    background-color: red;
    grid-area: 1 / 1 / 2 / -1;
}
#menu{
    background-color: green;
    grid-area: 2 / 1 / 3 / -1;
}
#principal{
    background-color: blue;
    grid-area: 3 / 1 / -2 / 2;
}
#secundario{
    background-color: yellow;
    grid-area: 3 / -2 / -2 / -1;
}
#rodape{
    background-color: purple;
    grid-area: -2 / 1 / -1 / -1;
}