@charset "UTF-8";

.container{
    display: grid;
    grid-template: repeat(3, 100px)/repeat(4, 1fr);
    gap: 5px;
}
.caixa1{
    background-color: red;
    grid-row: 1/ span 1;
    grid-column: 1 / -1;
}
.caixa2{
        background-color: blue;
        grid-row: 2 / -1;
        grid-column: 1 / span 2;
}
.caixa3{
            background-color: yellow;
            grid-row: 2 / span 2;
            grid-column: 3 / 5;
    }