@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to left, #366B62,#2B413D);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(43, 51, 50);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #329685;
    text-align: center;
    text-shadow:1px 1px 2px #26695db2 ;
}
h2{
    color: #01EBC3;
    text-shadow: 1px 1px 2px #005a4b;
}

p{
    text-align:justify;
}